// global
$desktop-breakpoint: 1000px;
$desktop-padding: 10px;
$mobile-padding: 4vw;

// header
$desktop-header-width: 170px;

// category
$desktop-category-width: 50%;

// images 
$mobile-images-gap: 4vw;
$desktop-images-gap: 20px;

// footer
$desktop-footer-width: $desktop-header-width;